body {
    font-family: Arial, Verdana, sans-serif;
    color: black;
    background-image: url("img/bg1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    padding: 0;
    border: 5px double #002400;
}
.header {
    margin: 15px 10px 2px 10px;
    background-color: #a6b98b;
    padding: 1px 10px 0 10px;
    border-radius: 10px;
    font-family: "Courier New", courier;
    font-size: 16px;
      border: 5px double #002400;
}

h1 {
	font-family: 'Dancing Script', cursive;
    text-align: center;
}

p{
    margin: 10px auto 10px auto;
    margin-top: 20px;
}
#poet{
	text-align: center;
    margin: 10px auto 10px auto;
    margin-top: 20px;
}

h2{
    padding: 10px;
}

li {
    line-height: 1.6em;
    
}

table {
    margin: 0px auto 0px auto;
    width: 90%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 5px 30px 5px 10px;
    border-spacing: 0px;
    font-size: 90%;
    margin: 0px;
    max-height: 20%;
}
        
th, td {
    text-align: left;
    background-color: #a6b98b;
    border-top: 1px solid #f1f8fe;
    border-bottom: 1px solid #cbd2d8;
    border-right: 1px solid #cbd2d8;
}

tr.head th {
    color: #fff;
    background-color: #606f49;
    border-bottom: 2px solid #97a97c;
    border-right: 1px solid #97a97c;
    border-top: 1px solid #dcebca;
    text-align: center;
    text-shadow: -1px -1px 1px #97a97c;
    letter-spacing: 0.15em;
}

td {
    text-shadow: 1px 1px 1px #ffffff;
}

tr.even td, tr.even th {
    background-color: #c2d5aa;
}

tr.head th:first-child {
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
}

tr.head th:last-child {
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
}

form {
  	border: 5px double #002400;
    max-width:400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #dcebca;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

fieldset {
    border: 1px solid #333d29;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

legend {
    font-style: italic;
    font-weight: bold;
    color: #333d29;
}

input[type="text"] {
    width: 120px;
    border: 1px solid #d6d6d6;
    padding: 2px;
    outline: none;
}

input[type="text"]:focus,
select:focus,
input[type="radio"]:checked {
    border-color: #009966;
}

input[type="submit"] {
    background-color: #333d23;
    color: #fff;
    border: none;
    margin:0px;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
    
}

input[type="submit"]:hover {
    background-color: #00CC33;
}

.title {
    float: left;
    width: 160px;
    clear: left;
}
.submit {
    width: 310px;
    text-align: right;
}

@media screen and (max-width: 600px) {
    body {
        font-size: 80%;
    }
    h1 {
        font-size: 24px;
    }
    p.intro {
        font-size: 18px;
    }
    table {
        font-size: 80%;
    }
    th, td {
        padding: 3px 10px;
    }
    input[type="text"] {
        width: 100%;
    }
    .title {
        float: none;
        width: auto;
        clear: none;
    }
    .submit {
        width: auto;
        text-align: left;
    }
}